@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+Mono:wght@100..900&display=swap');

body {
    color: #DDD;
    background-color: #456;
    background-color: #345;
    background-color: #234;
    background-color: #123;

    margin: 3% 10%;
    font-size: 1.5em;
    font-family: "IBM Plex Mono", monospace;
}

.float {
    position: absolute;
}

a:hover {
  color: magenta;
  letter-spacing: 2rem;
}

a:visited {
  color: magenta;
}

/* TODO: make something to float to the right the info */

.todo {
  background-color: gold;
  color: white;
  font-size: 1.6rem;
}

/*
TODO: some sort of gradient mesh or radial gradient thing with CSS colors in the background IDK lol
*/

@media (prefers-color-scheme: light) {
  body {
    color: #456;
    background-color: #DDD;
  }
}


.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}